<?php

// Selenium server details
define('TEST_SELENIUM_HOST', '127.0.0.1');
define('TEST_SELENIUM_PORT', 4444);

// backend URL
define('TEST_SELENIUM_BACKEND_URL', 'backend');

// Back-end credentials
define('TEST_SELENIUM_USER', 'admin');
define('TEST_SELENIUM_PASS', 'admin');

// Set browser
define('TEST_SELENIUM_BROWSER', 'chrome');
define('TEST_SELENIUM_BROWSER_OPTIONS', ['--headless', '--window-size=1200,600']);
